<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="./insights.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Insights</title>
  </head>
  <body>
    <main class="main-container">
      <div class="container-left">

        <div class="survay-section">
        <h1 class="title">What about you?</h1>

            <form id="formId" onsubmit="validateForm(event)">
          <div class="radio-form" >
            <p>Would you attend Devtalks and maybe also organize your own?</p>
            <input type="radio" name="will_organize_devtalk" id="yesRadioButton" value="yes" />
            <label for="yes">Yes</label><br />
            <input type="radio" name="will_organize_devtalk" id="noRadioButton" value="no" />
            <label for="no">No</label><br />
            <p class="error" id="error-msg"></p>
          </div>

          <div class="container" id="container" style="display: none;">
            <div class="text-area-one">
                <p>What would you speak about at Devtalk?</p>
                <textarea name="text-area-one" id="comentSectionOne" cols="65" rows="8">I would...</textarea>
                <p class="text-area-one-error"></p>
            </div>
              <div class="text-area-two">
                <p>What would you speak about at Devtalk?</p>
                <textarea name="text-area-two" id="comentSectionTwo" cols="65" rows="8">I...</textarea>
                <p class="text-area-two-error"></p>
              
            </div>
          </div>

          <nav class="navigation">
              <span><a href="#">
                  <img src="/assets/previous.png" alt="" />
              </a>
              </span>
              <div class="page-nav-circles">
                <a class="active" href="#" ><span></span></a>
                <a class="active" href="#"><span ></span></a>
                <a class="active" href="#"><span></span></a>
                <a class="active" href="#"><span></span></a>
                <a href="#"><span></span></a>
              </div >
              <button class="next-btn">
                <img src="/assets/next.png" alt="" />
              </button>
            </nav>
        </form>


        </div>
      </div>

      <div class="container-right">
        <h2>Redberrian Insights</h2>
        <p>
          We were soo much fun before the pandemic started! Parties almost every
          weekend and lavish employee birthday celebrations! Unfortunately,
          covid ruined that fun like it did almost everything else in the world.
          But we try our best to zhuzh it up a bit. For example, we host
          biweekly Devtalks where our senior and lead developers talk about
          topics they are passionate about. Previous topics have included Web3,
          NFT, Laravel 9, Kubernetes, etc. We hold these talks in the office but
          you can join our Zoom broadcast as well. Feel free to join either as
          an attendee or a speaker!
        </p>
      </div>
    </main>
    <script src="./insights.js"></script>
  </body>
</html>
