<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./list.css">
    <title>Submitted Applications</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div class="main-container">
        <h1>Submitted Applications</h1>
        <div class="aplication-forms">
            <div onclick="showApplicationsForm()" class="form">
                <p>1</p>
                <span>
                    <svg width="80px" height="80px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <rect x="0" fill="none" width="24" height="24"/>  
                        <g><path d="M7 10l5 5 5-5"/>
                        </g>
                        </svg>
                </span>
            </div>
            </div> 
        </div>

       
        </div>
    </div>
    <script src="./list.js"></script>
</body>
</html>